<!doctype html>
<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <style>

  </style>
</head>

<body class="bg-img bg-cover">


  <%- include("./partials/nav.ejs") %>

  <!-- Main Body -->
  <div id="edi" class="mainContent bg-img bg-cover mx-auto row justify-content-center text-center d-flex" style="background-image: url('/images/ui_background.png')">

    <link rel="stylesheet" href="/css/editarR.css">

    <div class="container">
      <h1>Editar Receita</h1>
      <form id="updateForm">
        <div class="mb-3">
          <label for="recipeName" class="form-label">Título da Receita</label>
          <input type="text" class="form-control" id="recipeName" name="recipeName" value="<%= receita.titulo %>">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descrição</label>
          <textarea class="form-control" id="description" name="description" rows="3"><%= receita.descricao %></textarea>
        </div>
        <!-- <div class="mb-3">
                    <label for="imagem" class="form-label">foto da sua receita</label>
                    <textarea class="form-control" id="image" name="imagem" rows="2"><%= receita.image %></textarea>
                </div>
            -->
        <!--aqui ainda vou por os outros parametros a alterar-->
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
      </form>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="/js/recipeUpdate.js"></script>
</body>

</html>