<!doctype html>
<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/recepie.css">
</head>

<body class="bg-img bg-cover">


  <!-- Main Body-->
  <div class="mainContent d-flex justify-content-center bg-img bg-cover" style="background-image: url('/images/ui_background.png');">
    <button id="prev-btn" class="book-btn align-self-center">
      <i class="bi bi-arrow-left"></i>
    </button>

    <div id="recepie">
      <div id="p1" class="paper  ">
        <div class="front ">
          <div id="f1" class="front-content d-flex text-center" style="background-color: #4592AF;">
            <div class="align-self-center d-grid ">
              <h1><%=recepie.recipeName %></h1>
              <h3><%=recepie.creator%></h3>
              <h3><%=recepie.creationDate%></h3>
              <img class="recepieImage d-none d-lg-block " src="/images/PlaceholderImage.png" alt="Alternate Text" />
            </div>
          </div>
        </div>
        <div class="back bg-white">
          <div id="b1" class="back-content d-inline-block p-5">
            <h3><%=recepie.recipeName %></h3>
            <h5>Description</h5>
            <p><%=recepie.description %></p>
          </div>
        </div>
      </div>


      <div id="p2" class="paper ">
        <div class="front bg-white">
          <div id="f2" class="front-content d-inline-block p-5">
            <h6>Ingredients:</h6>
            <%
                recepie.ingredients.forEach(ingredient => { %>
            <div class="d-flex justify-content-between ingredient">
              <div><%=ingredient.name %></div>
              <div><%=ingredient.quantity %> </div>
            </div>
            <% });%>

            <p></p>
            <div class="row d-flex justify-content-between ">
              <i class="bi bi-stopwatch col text-beggining"> 30 min</i>
              <i class="bi bi-clipboard-data text-center col"> Easy</i>
              <i class="bi bi-person col text-end">4</i>
            </div>
          </div>
        </div>
        <div class="back bg-white">
          <div id="b2" class="back-content d-inline-block p-5">
            <h6>Per Dose:</h6>
            <div class=" d-flex justify-content-between">
              <div>Calories</div>
              <div><%=recepie.nutritionalInformation.calories %></div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Proteins</div>
              <div><%=recepie.nutritionalInformation.proteins %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Saturated Fats</div>
              <div><%=recepie.nutritionalInformation.saturatedFats %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Unsaturated Fats</div>
              <div><%=recepie.nutritionalInformation.unSaturatedFats %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Cholesterol</div>
              <div><%=recepie.nutritionalInformation.cholesterol %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Carbohydrates</div>
              <div><%=recepie.nutritionalInformation.carbohydrates %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Sugar</div>
              <div><%=recepie.nutritionalInformation.sugar %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Vitamins</div>
              <div><%=recepie.nutritionalInformation.vitamins %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Minerals</div>
              <div><%=recepie.nutritionalInformation.minerals %> </div>
            </div>
          </div>
        </div>
      </div>


      <div id="p3" class="paper">
        <div class="front bg-white">
          <div id="f3" class="front-content d-grid p-5 justify-content-start">
            <h6>Preparation:</h6>
            <%
                let counter = 0;
                recepie.instructions.forEach(instruction => { 
                    if (counter < 8){
                    %>

            <i class="bi bi-dot ingredient"><%=instruction %></i>

            <% 
        
            counter++;}} );%>
       

          </div>
        </div>
        <div class="back bg-white">
          <div id="b3" class="back-content d-grid p-5 justify-content-start">
            <%recepie.instructions.forEach(instruction => { 
                    if (counter < 16){
                    %>
            <i class="bi bi-dot ingredient"><%=instruction %></i>

            <% counter++;}} );%>
          </div>
        </div>
      </div>

      <div id="p4" class="paper">
        <div class="front bg-white ">
          <div id="f4" class="front-content d-grid p-5 justify-content-start">
            <h1>Comments:</h1>
            <p>Comment 1</p>
            <p>Comment 2</p>
            <p>Comment 3</p>


          </div>
        </div>
        <div class="back" style="background-color: #4592AF;">
          <div id="b4" class="back-content d-inline-block p-5">

          </div>
        </div>
      </div>
    </div>





    <button id="next-btn" class="book-btn align-self-center">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>

  <!-- Scripts -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="/js/recepie.js"></script>
</body>

</html>ml>