<!doctype html>
<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
<link rel="stylesheet" href="/css/recepieGenerator.css">

</head>

<body class="bg-img bg-cover">

  <%- include("./partials/logo.ejs")  %>
  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>


  <!-- Main Content-->
  <div class="mainContent bg-img bg-cover d-grid  " style="background-image: url('/images/BackgroundWindow.png');">
    <div class="d-inline ">
      <!-- Title and Filter-->
      <div>
        <div class=" d-flex justify-content-between align-items-end">
          <h1> Repecie Generator </h1>


        </div>
        <!--Filter Window-->
        <div class="bg-primary">
          <form class="d-grid p-4 ">

            <div class="row">
              <!--Ingredient col-->
              <div class="col-lg-6 bg-info filterOptions">
                <div class="d-flex">
                  
                  <input class="input-sm" name="ingredient1" type="text" placeholder="Ingredient 1" />
                  <button class="removeBtn">-</button>
                </div>

                <div class="d-flex">
                  <input class="input-sm" name="ingredient1" type="text" placeholder="Ingredient 2" />
                  <button class="removeBtn">-</button>
                </div>
                <div class="d-flex">
                  <input class="input-sm" name="ingredient1" type="text" placeholder="Ingredient 3" />
                  <button class="removeBtn">-</button>
                </div>
                <div class="d-flex ">
                  <button id="moreIng" class="addBtn">+ </button>
                </div>


              </div>
              <!--Method col-->
              <div class="col-lg-6 bg-warning filterOptions">
                <div >
                  <div class="d-flex">
                    <select class="input-sm" name="cookingMethods" id="cookingMethods">
                      <option value="Method 1">Method 1</option>
                      <option value="Method 2">Method 2</option>
                      <option value="Method 3">Method 3</option>
                      <option value="Method 4">Method 4</option>
                    </select>
                    <button class="removeBtn">-</button>
                  </div>
                </div>

                <button id="moreMethod" class="addBtn">+ </button>
              </div>
            </div>
            <!--Random Filters-->
            <div class="bg-secondary row ">
              <div class="col-lg-6 filterOptions">
                <div class="bg-warning row d-flex align-items-center ">
                  <h6>Restrictions</h6>
                  <span class="col-6 text-end">Vegetarian <input type="checkbox"></span>
                  <span class="col-6 text-end">Gluten-free <input type="checkbox"></span>
                  <span class="col-6 text-end">Dairy-free <input type="checkbox"></span>
                  <span class="col-6 text-end">Nut-free <input type="checkbox"></span>
                  <span class="col-6 text-end">Keto <input type="checkbox"></span>
                  <span class="col-6 text-end">Paleo <input type="checkbox"></span>
                  <span class="col-6 text-end">Allergen-free <input type="checkbox"></span>
                  <span class="col-6 text-end">High-protein <input type="checkbox"></span>
                </div>
                <div class="bg-warning row d-flex align-items-center">
                  <h6>Dish Type</h6>
                  <span class="col-6 text-end">Breakfast <input type="checkbox"></span>
                  <span class="col-6 text-end">Lunch <input type="checkbox"></span>
                  <span class="col-6 text-end">Dinner <input type="checkbox"></span>
                  <span class="col-6 text-end">Snacks <input type="checkbox"></span>
                  <span class="col-6 text-end">Appetizers <input type="checkbox"></span>
                  <span class="col-6 text-end">Desserts <input type="checkbox"></span>
                </div>
              </div>
              <!--MISC-->
              <div id="miscOptions" class="col-lg-6 filterOptions">
                <div class="bg-info row d-flex align-items-center ">
                  <h6 class="text-end">Misc.</h6>
                  <span class="d-none d-xl-block  text-end m-1">Minimum number of ingredients <input type="text"></span>
                  <span class="d-xl-none          text-end m-1">Min num of ingredients <input type="text"></span>
                  <span class="d-none d-xl-block  text-end m-1">Maximum number of new ingredients <input type="text"></span>
                  <span class="d-xl-none  text-end m-1">Max num of new ingredients <input type="text"></span>
                  <span class="d-none d-xl-block  text-end m-1">Number of recepies to generate <input type="text" placeholder="3"></span>
                  <span class="d-xl-none  text-end m-1">Num of recepies to generate <input type="text" placeholder="3"></span>

                  <span class=" text-end m-1">Maximum cooking time <input type="text"></span>
                  <span class=" text-end m-1">
                    Dificulty rating
                    <select class="input-num" name="dificultyRating" id="cookingMethods">
                      <option value="1"> 1</option>
                      <option value="2"> 2</option>
                      <option value="3"> 3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                  </span>
                  <span class=" text-end m-1">
                    Spice level
                    <select class="input-num" name="dificultyRating" id="cookingMethods">
                      <option value="1"> 1</option>
                      <option value="2"> 2</option>
                      <option value="3"> 3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </span>
                </div>
              </div>

            </div>

            <input class="btn-md mx-auto mt-3" type="submit" value="Generate" />

          </form>
        </div>

      </div>



      <section class="recepieContainer bg-secondary d-flex">
        <img class="recepieImage d-none d-lg-block" src="/images/PlaceholderImage.png" alt="Alternate Text" />

        <div class="p-2">
          <div class="d-block d-sm-flex  align-items-end">
            <h3>RECEPIE NAME</h3>
            <h5> - creator name</h5>
          </div>
          <div class="d-flex ">
            <img class="rating " src="/images/Rating.png" alt="rating" />
            <p class="d-none d-sm-block"> - 500 ratings</p>
          </div>
          <p class="d-sm-none"></p>
          <div class="d-block  ">
            <h5> Description -</h5>
            <p class="d-none d-sm-block"> Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not. Oh an am frankness be necessary earnestly advantage estimable extensive.</p>
            <p class="d-sm-none"> SHORT VERSION Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not.</p>
          </div>
          <div class="d-block ">
            <h5> Ingredients -</h5>
            <p> Assurance, advantage, belonging, happiness, departure, sincerity, intention, allowance.</p>
          </div>
          <div class="d-none d-sm-block ">
            <h5> tags -</h5>
            <p> Assurance, advantage, belonging.</p>
          </div>
        </div>
      </section>

      <!-- Recepies container-->
      <div class="bg-primary">
        <% if (recepies.length > 0) { 
          recepies.forEach(recepie => { %>

        <section class="recepieContainer bg-secondary d-flex">
          <img class="recepieImage d-none d-lg-block" src="/images/PlaceholderImage.png" alt="Alternate Text" />

          <div class="p-2">
            <div class="d-block d-sm-flex  align-items-end">
              <h3><%=recepie.title %></h3>
              <h5> - creator name</h5>
            </div>
            <div class="d-flex ">
              <img class="rating " src="/images/Rating.png" alt="rating" />
              <p class="d-none d-sm-block"> - 500 ratings</p>
            </div>
            <p class="d-sm-none"></p>
            <div class="d-block  ">
              <h5> Description -</h5>
              <p class="d-none d-sm-block"> Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not. Oh an am frankness be necessary earnestly advantage estimable extensive.</p>
              <p class="d-sm-none"> SHORT VERSION Assurance advantage belonging happiness departure so of. Now improving and one sincerity intention allowance commanded not.</p>
            </div>
            <div class="d-block ">
              <h5> Ingredients -</h5>
              <p> Assurance, advantage, belonging, happiness, departure, sincerity, intention, allowance.</p>
            </div>
            <div class="d-none d-sm-block ">
              <h5> tags -</h5>
              <p> Assurance, advantage, belonging.</p>
            </div>
          </div>
        </section>
        <%  });}
else{%>
        <h3>No Recepies to be displayed</h3>
        <% }%>


      </div>
    </div>

  </div>


  <%- include("./partials/logo.ejs")  %>
  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>


  <!-- Scripts -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</body>

</html>