<!doctype html>
<html lang="pt-PT">

<head>
  <%- include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/recipe.css">
</head>

<body class="bg-img bg-cover">


  <!-- Main Body-->
  <div class="mainContent d-flex justify-content-center bg-img bg-cover" style="background-image: url('/images/ui_background.png');">
    <button id="prev-btn" class="book-btn align-self-center">
      <i class="bi bi-arrow-left"></i>
    </button>

    <div id="recipe">
      <div id="p1" class="paper  ">
        <div class="front ">
          <div id="f1" class="front-content d-flex text-center p-4" style="background-color: #4592AF;">
            <div class="align-self-center d-grid ">
              <% console.log(recipe)%>
              <h3><%=recipe.recipeName %></h3>
              <h5><%=recipe.creator%></h5>
              <h5><%=recipe.creationDate%></h5>
              <img class="recipeImage d-none d-lg-block " src="/images/PlaceholderImage.png" alt="Alternate Text" />
            </div>
          </div>
        </div>
        <div class="back bg-white">
          <div id="b1" class="back-content d-inline-block p-4 text-justify">
            <h3><%=recipe.recipeName %></h3>
            <h5>Description</h5>
            <p class="ingredient"><%const description = recipe.description ; %>
              <%console.log(recipe.description);%>
              <%const cutString = description.substring(0,500); %>
              
             
                <%=cutString.substr(0, Math.min(cutString.length, cutString.lastIndexOf(".")+1));%></p>
          </div>
        </div>
      </div>


      <div id="p2" class="paper ">
        <div class="front bg-white">
          <div id="f2" class="front-content d-inline-block p-4 ">
            <h6>Ingredients:</h6>
            <%
                recipe.ingredients.forEach(ingredient => { %>
            <div class="d-flex justify-content-between ingredient">
              <div><%=ingredient.name %></div>
              <div><%=ingredient.quantity %> </div>
            </div>
            <% });%>

            <p></p>
            <div class="row d-flex justify-content-between ">
              <i class="bi bi-stopwatch col text-beggining"><%=recipe.totalTime %> </i>
              <i class="bi bi-clipboard-data text-center col"> <%=recipe.difficultyLevel %></i>
              <i class="bi bi-person col text-end"><%=recipe.servings %></i>
            </div>
          </div>
        </div>
        <div class="back bg-white">
          <div id="b2" class="back-content d-inline-block p-4">
            <h6>Per Dose:</h6>
            <div class=" d-flex justify-content-between">
              <div>Calories</div>
              <div><%=recipe.nutritionalInformation.calories %></div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Proteins</div>
              <div><%=recipe.nutritionalInformation.proteins %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Saturated Fats</div>
              <div><%=recipe.nutritionalInformation.saturatedFats %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Unsaturated Fats</div>
              <div><%=recipe.nutritionalInformation.unSaturatedFats %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Cholesterol</div>
              <div><%=recipe.nutritionalInformation.cholesterol %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Carbohydrates</div>
              <div><%=recipe.nutritionalInformation.carbohydrates %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Sugar</div>
              <div><%=recipe.nutritionalInformation.sugar %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Vitamins</div>
              <div><%=recipe.nutritionalInformation.vitamins %> </div>
            </div>
            <div class=" d-flex justify-content-between">
              <div>Minerals</div>
              <div><%=recipe.nutritionalInformation.minerals %> </div>
            </div>
          </div>
        </div>
      </div>


      <div id="p3" class="paper">
        <div class="front bg-white">
          <div id="f3" class="front-content d-grid p-4 justify-content-start align-content-start">
            <h6>Preparation:</h6>
            <%let counter = 0;
                recipe.instructions.forEach(instruction => { 
                    if (counter < 8){%>
                    

            <i class="bi bi-dot ingredient m-1"><%=instruction %></i>

            <% counter++;}} );%>
       

          </div>
        </div>
        <div class="back bg-white">
          <div id="b3" class="back-content d-grid p-4 justify-content-start align-content-start">
            <% let auxCounter = 0;
            recipe.instructions.forEach(instruction => { 
                if(auxCounter >= counter){
                    if (counter < 16){
                    %>               
                    
            <i class="bi bi-dot ingredient  m-1"><%=instruction %></i>
      
            <% counter++;}} 
            auxCounter++} );%>
          </div>
        </div>
      </div>

      <div id="p4" class="paper">
        <div class="front bg-white ">
          <div id="f4" class="front-content d-grid p-4 justify-content-start">
            <h1>Comments:</h1>
            <p>Comment 1</p>
            <p>Comment 2</p>
            <p>Comment 3</p>


          </div>
        </div>
        <div class="back" style="background-color: #4592AF;">
          <div id="b4" class="back-content d-inline-block p-4">

          </div>
        </div>
      </div>
    </div>





    <button id="next-btn" class="book-btn align-self-center">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>

  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>

  <!-- Scripts -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="/js/recipe.js"></script>
</body>

</html>ml>