<!doctype html>
<html lang="pt-PT">

<head>
  <%-include("./partials/head.ejs")  %>
  <link rel="stylesheet" href="/css/recipe.css">
</head>

<body class="bg-img bg-cover">

  <%- include("./partials/nav.ejs")  %>
  <%- include("./partials/footer.ejs")  %>

  <% 
    let isFrontPage = true;
    let currentPaper = 1;
  %>

  <!-- Main Body-->
  <div ID ="rec" class="mainContent d-grid mx-auto  bg-img bg-cover" style="background-image: url('/images/ui_background.png');">
    <div id="book" class="d-flex mx-auto justify-content-center ">
      <button id="prev-btn" class="book-btn align-self-center">
        <i class="bi bi-arrow-left"></i>
      </button>
      <div id="recipe">
        <div id="p1" class="paper">
          <%- include("./partials/recipe/frontPage.ejs") %>
          <%isFrontPage = false;%>
          <%- include("./partials/recipe/descriptionPage.ejs")  %>
          <%
          isFrontPage = true;
          currentPaper = 2;
          %>
        </div>

        <% let currentPaperWrap = { paper: currentPaper }; //So the variables are passed by reference! do not change
           let isFrontPageWrap= { frontPage: isFrontPage }; %>

        <%- include("./partials/recipe/recipeInfoPages.ejs", {currentPaperWrap,isFrontPageWrap  }) %>
        <%- include("./partials/recipe/instructionPages.ejs",{currentPaperWrap,isFrontPageWrap })%>
        <%- include("./partials/recipe/backPage.ejs",{currentPaperWrap,isFrontPageWrap })  %>

      </div>
      <button id="next-btn" class="book-btn align-self-center">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    <div id="commentBox" class="mx-auto">
      <h1>Comments:</h1>
      <form id="commentForm" class="d-flex">
        <textarea name="comment" id="comment" placeholder="Write a comment..." required></textarea>
        <button type="submit" class="mx-2">Submit</button>
      </form>
      <ul id="commentList">

        <% console.log( Object.keys(recipe.comments).length);
        for (let i = Object.keys(recipe.comments).length-1; i >= 0; i--){ %>
        <div class="d-flex">
          <strong class="mx-2"><%=recipe.comments[i].user%>: </strong>
          <%=recipe.comments[i].comment%>
        </div>
        <% } %>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="/js/recipe.js"></script>
</body>

</html>